Django==1.7.3
Flask==0.10.1
Genshi==0.7
Jinja2==2.7.3
MarkupSafe==0.23
PyWebDAV==0.9.8
Pygments==1.6
Werkzeug==0.9.6
argparse==1.2.1
chardet
colorama==0.2.5
defer==1.0.6
gunicorn==17.5
html5lib==0.999
itsdangerous==0.24
lxml==3.3.3requirements.txt
pbr==0.10.7
polib==1.0.4
psutil==1.2.1
psycopg2==2.4.5
pyOpenSSL==0.13
pycups==1.9.66
pycurl==7.19.3
pydot==1.0.28
pygobject==3.12.0
pyparsing==2.0.1
pysmbc==1.0.14.1
pysqlite==2.6.3
python-Levenshtein==0.11.2
python-apt==0.9.3.5
python-dateutil==1.5
python-debian==0.1.21-nmu2ubuntu2
python-ldap==2.4.10
python-sql==0.3
pytz==2012c
pyxdg==0.25
relatorio==0.6.0
requests==2.2.1
simplejson==3.3.1
six==1.9.0
ssh-import-id==3.21
stevedore==1.2.0
suds==0.4.1
trytond==3.0.2
trytond-account==3.0.1
trytond-account-be==3.0.0
trytond-account-de-skr03==3.0.0
trytond-account-invoice==3.0.1
trytond-account-invoice-history==3.0.0
trytond-account-invoice-line-standalone==3.0.0
trytond-account-product==3.0.0
trytond-account-statement==3.0.1
trytond-analytic-account==3.0.0
trytond-analytic-invoice==3.0.0
trytond-analytic-purchase==3.0.0
trytond-analytic-sale==3.0.0
trytond-calendar==3.0.2
trytond-calendar-classification==3.0.0
trytond-calendar-scheduling==3.0.0
trytond-calendar-todo==3.0.1
trytond-company==3.0.0
trytond-company-work-time==3.0.0
trytond-country==3.0.0
trytond-currency==3.0.0
trytond-dashboard==3.0.0
trytond-google-maps==3.0.0
trytond-ldap-authentication==3.0.0
trytond-ldap-connection==3.0.0
trytond-party==3.0.0
trytond-party-siret==3.0.0
trytond-party-vcarddav==3.0.0
trytond-product==3.0.0
trytond-product-cost-fifo==3.0.0
trytond-product-cost-history==3.0.0
trytond-product-price-list==3.0.0
trytond-project==3.0.1
trytond-project-plan==3.0.0
trytond-project-revenue==3.0.0
trytond-purchase==3.0.0
trytond-purchase-invoice-line-standalone==3.0.0
trytond-sale==3.0.0
trytond-sale-opportunity==3.0.0
trytond-sale-price-list==3.0.0
trytond-stock==3.0.1
trytond-stock-forecast==3.0.0
trytond-stock-inventory-location==3.0.0
trytond-stock-location-sequence==3.0.0
trytond-stock-lot==3.0.0
trytond-stock-product-location==3.0.1
trytond-stock-supply==3.0.0
trytond-stock-supply-day==3.0.0
trytond-timesheet==3.0.0
trytond-timesheet-cost==3.0.0
urlgrabber==3.9.1
urllib3==1.7.1
vatnumber==1.1
virtualenv==1.11.4
virtualenv-clone==0.2.5
virtualenvwrapper==4.3.2
vobject==0.8.1c
wsgiref==0.1.2
yum-metadata-parser==1.1.4
