<!DOCTYPE html>
<html>
<head>
	<title> Get a movie from</title>
</head>
<body>
	<h1> Get film from OMDB</h1>
	<form action = "/" method= "post">
		<label for="phrase"> Enter a film:</label>
		<input type="text" id="film" name="film">
		<br />
		<button> Search</button>
	</form>

	{% if film %}
		{% if omdb_request.Response == 'False' %}
	<div id="content">
		The movie {{film}} film non trouvé mettre un autre!
		{% else %}
		<div id="content">
			<strong>The movie name is :</strong> {{film}}!
		</div><br />
		<p><strong>Plot"intrigue" :</strong> {{omdb_request.Plot}}</p>
		<p><strong> Released "sortie" : </strong>{{omdb_request.Released}}</p>
		{% endif %}
	{% endif %}
	</div>
</div>
</body>
</html>

